<html>
    <head></head>
    <body>
        <p><%= @content %></p>
        
        <form action="/result" metohd="post">
            <input type="text" name="company">
            <input type="submit">
        </form>
    </body>
</html>
